.nav-menu {
  padding: 2px;
  display: flex;
  width: 100%;
}

.inline{
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
  }

  .inline{
    display: flex;
    width: 100%;
    flex-direction: column;
  }

}

.nav-menu_1 {
  background: #f6faf4;
}

.nav-menu_2 {
  background: #f2fbfd;
}

.nav-menu_3 {
  background: #fdf1f2;
}

.nav-menu_4 {
  background: #fff8ee;
}

.nav-menu_5 {
  background: #efeef6;
}

.nav-menu_6 {
  background: #fff8ee;
}

.nav-menu_item {
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-out;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 3px;
}

.nav-menu_item_hidden {
  display: none;
}

.nav-menu_item:hover {
  transform: scale(1.02);
  text-decoration: none;
  color: white;
}

.nav-menu_item:active {
  box-shadow: inset 1px 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.nav-menu_item_1 {
  background-color: #a9d192;
}

.nav-menu_item_2 {
  background-color: #86d3ec;
}

.nav-menu_item_3 {
  background-color: #ee7b83;
}

.nav-menu_item_4 {
  background-color: #fdb83d;
}

.nav-menu_item_5 {
  background-color: #aeaacf;
}

.nav-menu_item_6 {
  background-color: #b95c66;
}

.nav-menu_content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-menu_icon {
  flex: 1;
  max-height: 65px;
}

.nav-menu_text {
  flex: 1;
  font-weight: 600;
  text-align: center;
}

.menu-toggle {
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-out;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin: 3px;
  background: #454547;
  font-weight: 600;
  text-align: center;
  border: none;
}

.menu-toggle:hover {
  transform: scale(1.02);
  text-decoration: none;
  color: white;
}

.menu-toggle:active {
  box-shadow: inset 1px 2px 3px 0 rgba(0, 0, 0, 0.15);
}

.menu-toggle:focus {
  outline: none;
}

@media only screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
