.footer {
  padding: 0;
  color: white;
  flex-shrink: 0;
  position: absolute;
  width: 100%;
}

.footerCore {
  padding: 5px 0 0 0;
  background-color: #58585A;
  position: absolute;
  width: 100%;
}

.footerEmergencyBanner {
  background-color: #5F6062;
  padding: 5px;
  text-align: center;
}

.footerEmergencyBanner a {
  padding: 0 5px;
  font-weight: bold;
  font-size: 12px;
}

.footer a {
  color: white;
}

.footerItem {
  display: inline-block;
  padding: 5px;
}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5%;
  padding-bottom: 10px;
}

.inline-block img{
  width: 90%;
  height: auto;
}

.footerItem a{
  font-size: 12px;
}

.footerItem h4{
  font-size: 12px;
  margin: 5px auto;
}

.footerItemBorder {
  border-left: 1px solid;
}

.social {
  float: right;
  padding: 0px 5px;
}

.social .footerIcons{
  float: right;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footerCopyright {
  background-color: #454547;
  width: 100%;
  padding: 5px;
  text-align: right;
  font-size: 12px;
}

.footerIcons li {
  display: inline-block;
  padding: 0px 5px;
}

@media screen and (min-width: 300px){
  .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5%;
    padding-bottom: 10px;
  }

  .inline-block img{
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 1024px){
  .banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-bottom: 1%;
  }

  .inline-block img{
    width: 75%;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
	.footerEmergencyBanner a {
    display: block;
  }
}
